    <table>

  <tr>

    <td class="category_bar">
      <div class="category_bar bar">
        <% @categories.each do |category| %>
            <p class="category_name"><%= link_to category, {:controller => "general", :action => "searchcategory", :q => category} %>  </p>
        <% end %>
      </div>
    </td>

    <td>
      <table>
        <% @list.each do |video| %>
            <tr>
              <td>
                <%=link_to(image_tag(escape_javascript(asset_path(video.image_path)),:size => "310x173"),
                           {:controller => "videos", :action => "show", :id => video.id}) %>
              </td>
              <td>
                <%= video.title %>
              </td>

            </tr>

        <% end %>
      </table>
    </td>
</table>