/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.soft_border{
    padding: 10px;
    border-left:2px solid;
    background-color: #ccccdd;
    /* border-radius:25px;     */
}

.category_bar{
    width: 100px;

    text-align:justify;
    vertical-align:top ;
}

#search_bar{
     background-color: lightpink;
    border: 2px solid;
}

.video_title{
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    line-height: normal;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    color: #222;
}

.video_title span{
    font-size: .9em;
    letter-spacing: -0.05em;
    font-family: arial,sans-serif;
}

.video_description_border_top{
    border-bottom: 1px solid #e6e6e6;
}